<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<div class="login-box">

    <div class="login">

        <form method="POST" action="{{ url_for('login') }}">

            <label for="email" class="sr-only">Email:</label>
            <input type="text" id="email" name="email" class="input-box" placeholder="Email" required>

            <label for="password" class="sr-only">Password:</label>
            <input type="password" id="password" name="password" class="input-box" placeholder="Password" required>

            <input class="sign-in-button" type="submit" value="Sign in">

        </form>

        <a href="/forgot-password">Forgot your password?</a>
        <a href="/register">Register</a>
        <a href="/home">dev skip login</a>

    </div>

</div>




</body>
</html>