<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/signup-styles.css">
</head>
<body>

    <h1>Register</h1>
    <form method="POST" action="{{ url_for('register') }}">

        <div class="signup-container">

            <div class="name-container">
                <label for="first_name"></label>
                <input type="text" id="first_name" name="first_name" placeholder="First name" class="input-field" >

                <label for="last_name"></label>
                <input type="text" id="last_name" name="last_name" placeholder="Last name" class="input-field" >
            </div>

            <label for="email"></label>
            <input type="text" id="email" name="email" placeholder="Email address" class="input-field" required>

            <label for="address"></label>
            <input type="text" id="address" name="address" placeholder="Address" class="input-field" >

            <label for="city"></label>
            <input type="text" id="city" name="city" placeholder="City" class="input-field" >

            <label for="postcode"></label>
            <input type="text" id="postcode" name="postcode" placeholder="Postcode" class="input-field" >

            <label for="phone"></label>
            <input type="text" id="phone" name="phone" placeholder="Phone number" class="input-field" required>

            <label for="password"></label>
            <input type="text" id="password" name="password" placeholder="Password" class="input-field" required>

            <input class="signup-button" type="submit" value="Register">

        </div>
    </form>

</body>
</html>