
* {
    font-family: "Arial", sans-serif;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    margin: 10px;
    font-size: 24px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 40px;
}

.input-box {
    border-width: 3px;
    border-radius: 8px;
    font-size: 24px;
    width: 400px;
    margin: 10px;
    padding: 10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
    background-image: url("../static/images/static-background-wall.jpg");
    background-size: cover;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-self: center;

    padding: 20px;
    width:550px;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;

    background-color: #127453;
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3); /* Horizontal, Vertical, Blur, Color */;
}

.sign-in-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #222;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3); /* Horizontal, Vertical, Blur, Color */;
    border-width: 3px;
    border-radius: 8px;
    font-size: 24px;
    width: 420px;
    height: 50px;
    padding: 5px;
    margin: 10px;

}

.sign-in-button:hover {
    background-color: #888;
}

p {
    font-size: 20px;
    margin-top: 10px
}

.logo {
    align-self: center;
    width: 700px;
    height: auto;
    padding: 40px;
}