
.product-box {
    position: relative;
    top: 100px;
    display: inline-block;

    padding: 20px;
    width: 300px;
    height: 400px;
    margin-left: 50px;
    box-sizing: border-box;
    overflow: hidden;

    background-color: #127453;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

