<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
    {% include 'toolbar.html' %}

    <div class="body-2">

        <div class="contact-container">

            <div class="question-panel">

                <h2>Have a question?</h2>
                <p>We would love to answer any questions you have!</p>
                <p>We will send a reply to your email address at {{ email }}</p>

                <form action="#" method="POST">
                    <label for="subject">Subject:</label>
                    <input type="text" id="subject" name="subject" maxlength="50" required>

                    <label for="main-text">Your Message:</label>
                    <textarea id="main-text" name="main-text" rows="10" maxlength="500" placeholder="Write your message here..." required></textarea>

                    <button type="submit">Submit</button>
                </form>

            </div>

            <div class="right-container">

                <div class="start-booking-panel">
                    <h2>Book a consultation</h2>
                    <p>Once you select a convenient date and time, one of our experts will visit your home to assess the installation details.</p>
                    <p>You will receive a personalised quote on the same day.</p>
                    <button type="submit">Book now</button>
                </div>

                <div class="more-contact-panel">
                    <h2>Other ways to talk to us</h2>

                    <!-- contact email -->
                     <p class="icon-paragraph">
                        <span class="icon"><img src="/static/icons/icons8-email-90.png" alt="icon"></span> customersupport@rolsatech.co.uk
                     </p>

                    <!-- facebook page -->
                    <p class="icon-paragraph">
                        <span class="icon"><img src="/static/icons/icons8-facebook-90.png" alt="icon"></span> @RolsaTechGroup
                     </p>

                    <!-- linkedin -->
                    <p class="icon-paragraph">
                        <span class="icon"><img src="/static/icons/icons8-linkedin-90.png" alt="icon"></span> Rolsa Technologies
                     </p>

                </div>

            </div>

        </div>

    </div>

</body>
</html>

