<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>



<body>

    {% include 'toolbar.html' %}

    <div class="body-2">

    <div class="home-page-container">

        <div class="landing-text-container">
            <div class="title-container">
                <h1>Technology Made Easy,</h1>
                <h1>Planet Made Better.</h1>
            </div>

            <div class="paragraph-container">
                <p>We make it easy to integrate sustainable technology into your life with hassle-free installation and innovative solutions.</p>
            </div>

            <div class="button-container">
                <button>Calculate your footprint</button>
                <button>Book a consultation -> </button>
            </div>
        </div>
    </div>
    </div>
</body>
</html>