<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>



<body>

    {% include 'toolbar.html' %}

    <div class="body-2">

        <div class="home-page-container">

            <img src="../static/images/solarpanelinstall2.jpeg" alt="solar panel install image">

            <div class="landing-text-container">
                <div class="title-container">
                    <h1>Tech Made Easy,</h1>
                    <h1>Planet Made Better.</h1>
                </div>

                <div class="paragraph-container">
                    <p>We make it easy to integrate sustainable technology into your life with hassle-free installation and innovative solutions.</p>
                </div>

                <button>View services</button>

            </div>

        </div>

        <div class="info-panels-container">

            <div class="info-panel">
                <img src="" alt="">
                <h1>Empowering Your Space with Green Tech</h1>
                <p>We offer customized green tech solutions like solar panels and energy-efficient systems to help reduce your carbon footprint and save on energy costs.</p>
            </div>

            <div class="info-panel">
                <img src="" alt="">
                <h1>Our Goal: Greener Homes & Businesses</h1>
                <p>We aim to make sustainability easy and affordable with small-scale, eco-friendly installations that help reduce energy use and promote a greener future.</p>
            </div>

            <div class="info-panel">
                <img src="" alt="">
                <h1>Your Impact on the Environment</h1>
                <p>By adopting green tech, you can cut your energy bills by 30% and reduce carbon emissions by up to 50%. Together, we've saved over 500,000 lbs of CO2!</p>
            </div>


          </div>
        </div>

</body>
</html>