<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles-old.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

    {% include 'toolbar.html' %}

    <div class="login-box">

        <img src="../static/icons/icons8-account-96.png" alt="login">

        <h1>Sign in</h1>

        <div class="login">

            <form method="POST" action="{{ url_for('login') }}">

                <label for="email" class="sr-only"></label>
                <input type="text" id="email" name="email" class="input-box" placeholder="Email" required>

                <label for="password" class="sr-only"></label>
                <input type="password" id="password" name="password" class="input-box" placeholder="Password" required>

                <input class="sign-in-button" type="submit" value="Sign in">

            </form>

            <a href="/forgot-password">Forgot your password?</a>

            <button class="register-button" value="register">
                <a href="/register">Register</a>
            </button>

        </div>
    </div>





</body>
</html>