<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/product-profile.css">
</head>
<body>
{% include 'toolbar.html' %}


<div class="body-2">

    <div class="title-container">
    
        <img src="/static/images/solarpanel-main.jpg" alt="solar panel image">
        <h1>{{ product['Name'] }}</h1>
    
    </div>
    
    <div class="description-panel">
        
        <img src="/static/images/solarpanel-flexibleinstall.jpg" alt="Flexible installation image">

        <div class="text-box">
            <h1>Something about something</h1>
            <p>{{ product['Description1'] }}</p>
        </div>
    </div>

    <div class="description-panel">


        <div class="text-box">
            <h1>Something about something</h1>
            <p>{{ product['Description2'] }}</p>
        </div>

        <img src="/static/images/panel-image-solarpanel.jpg" alt="Flexible installation image">

    </div>

    <div class="description-panel">

        <img src="/static/images/solarpanelinstall1.jpeg" alt="Flexible installation image">

        <div class="text-box">
            <h1>Something about something</h1>
            <p>{{ product['Description3'] }}</p>
        </div>
    </div>


</div>


</body>
</html>