
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body {
    background: rgb(12, 12, 20);
    display: flex;
    justify-content: center;
}

.body-2 {
    position: relative;
    bottom: 20px;
    margin: 0;
    background: rgb(12, 12, 20);
    width: 80vw;
}

.toolbar-container {
    position: fixed;
    display:flex;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    width: 100vw;
    height: 55px;
    overflow: hidden;
    background: rgba(12, 12, 20, 0.7);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-color: #222;
}

.toolbar-container img {
    width: auto;
    height: 110px;
    margin-left: 0.5vw;
    margin-right: 30px;
    margin-top: 10px;
    align-self: center;
}
.toolbar ul img {
    width: auto;
    height: 40px;
    margin-left: 1vw;
    margin-right: 30px;
    margin-top: 7px;
    align-self: center;
}

.toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar ul li {
    flex: 1;
}

.toolbar ul li a {
    display: block;
    font-size: 20px;
    color: #e0e0e2;
    text-align: center;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 45px;
    text-decoration: none;
    height: 100%;
    width: 8vw;
    transition: color 0.2s ease;
    white-space: nowrap;

}

.toolbar ul li a:hover {
    color: #69dc9f;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.toolbar ul:hover li a:not(:hover) {
    color: #888;
    transition: color 0.3s ease;

}

.home-page-container {
    position: relative;
    top: 100px;
    right: 25px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.landing-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 6%;
    word-wrap: break-word;
}


.title-container {
    font-weight: bold;
    font-size: 22px;
    color: #e0e0e2;
    white-space: nowrap;
}

.paragraph-container {
    margin-top: 2vh;
    font-size: 18px;
    color: #777;
}

.home-page-container button {
    margin-top: 7%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 30px;
    width: 180px;
    height: auto;
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #e0e0e2;
    background-color: rgb(12, 12, 20);;
    color: #e0e0e2;
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

.home-page-container button:hover {
    border-color: #69dc9f;
    background-color: #69dc9f;
    color: rgb(12, 12, 20);
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

.home-page-container img {
    width: 40%;
    height: auto;
    margin-left: 5%;
    border-radius: 8px;
}

.info-panels-container {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #e0e0e2;
    margin: 12px;
}

.info-panels-container .info-panel {
    border-style: solid;
    border-color: #444;
    border-width: 2px;
    border-radius: 8px;
    background: #202127;
    padding: 15px;
    width: 30%;
    margin: 12px;
    justify-items: center;
    height: 330px;
    transition: border-color 0.2s ease;
}

.info-panels-container .info-panel:hover {
    border-color: #69dc9f;
    transition: border-color 0.3s ease;
}

.info-panels-container .info-panel h1 {
    font-size: 20px;
    margin-bottom: 20px
}

.info-panels-container .info-panel p {
    font-size: 17px;
    color: #777;
}